*
{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar 
{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body
{
    background-color: black;
}
a
{
    text-decoration: none;
    font-size: 20px;
    color: rgb(245,170,3);
    font-weight: bold;
}
h2
{
    color: rgb(245,170,3);
    text-align: center;
}

#MenuContainer
{
    width: 100%;
    position: relative;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    border-bottom: solid 1px rgb(245,170,3);
    background-color: black;
}
#InformationContainer
{
 margin-top: 100px;
}
#TopBurguers
{
    margin-top: 10px;
  font-weight: bold;

}
.BurguerImages
{
    border-radius: 15px;
}
.Fire
{
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#MenuLogo
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
li
{
    display: inline-block;
    margin: 10px;
}
#MenuList
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#MenuList a
{
    border-bottom: solid 1px rgb(245,170,3);
    padding-bottom: 3px;
}
#MenuList a:hover
{
    color: rgb(204, 140, 1); 
    border-color: rgb(255, 226, 164);
}
#MenuMidias
{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}
#TableContainer
{
    position: relative;
    margin-top: 20px;
    height: 600px;
}
.ImagesPrice
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
td
{
    background-color: rgba(56, 56, 56, 0.452);
    border: 1px solid rgba(245, 168, 3, 0.815);
    border-radius: 4px;
    position: relative;
    float: left;
    padding: 10px;
    width: 300px;
    height: 480px;
    overflow: hidden;

}

#LeftBurger
{
    top: 0%;
    position: absolute;
    left: 0%;
    margin-left: 20px;
}
#CenterBurguer
{
    top: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#RightBurguer
{
    top: 0%;
    position: absolute;
    right: 0%;
    margin-right: 20px;
    
}
.BurguerData
{
    position: absolute; 
    top: 90%;
    left: 50%; 
    transform: translateX(-50%);
}
.OrderLink
{
margin-top: 10px;
position: absolute;
left: 50%;
transform: translateX(-50%);
border: solid 1px rgb(245,170,3);
border-radius: 10px;
padding: 10px;

}
.OrderLink:hover
{
    color: rgb(204, 140, 1);  
    border-color: rgb(255, 226, 164);
}
#LastLink
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    font-size: 25px;
    border: solid 1px rgb(245,170,3);
    border-radius: 10px;
    padding: 10px;
}
#LastLink:hover
{
    color: rgb(204, 140, 1);
    border-color: rgb(255, 226, 164);
}
#Whatsapp
{
 position: fixed;
 bottom: 5px;
 right: 0px;
}

@media  screen and (max-width: 1024px)
{
    .BurguerImages
    {
        width: 250px;
        height: 250px;
    }
    td
    {
        width: 250px;
        height: 570px;
    }
}
@media screen and (max-width: 874px)
{
    #TableContainer
    {
        height: 550px;
    }
    .BurguerImages
    {
        width: 220px;
        height: 220px;
    }
    td
    {
        width: 220px;
        height: 500px;
    }
}
  @media screen and (max-width: 784px)
  {
    #TableContainer
    {
        height: 550px;
    }
    .BurguerImages
    {
        width: 200px;
        height: 200px;
    }
    td
    {
        width: 200px;
        height: 500px;
    } 
    .ListLink
    {
     display: block;
    }
  }  
  @media screen and (max-width: 722px)
  {
    #TableContainer
    {
        height: 490px;
    }
    .BurguerImages
    {
        width: 180px;
        height: 180px;
    }
    p
    {
        font-size: 15px;
    }
    td
    {
        width: 180px;
        height: 460px;
    }  
    h2
    {
        font-size: 18px;
    }
    a
    {
        font-size:18px;
    }
    #LastLink
    {
        font-size: 18px;
    }
  }

  @media screen and (max-width: 660px)
  {
    #TableContainer
    {
        height: 490px;
    }
    .BurguerImages
    {
        width: 150px;
        height: 150px;
    }
    p
    {
        font-size: 15px;
    }
    td
    {
        width: 170px;
        height: 430px;
    }  
    h2
    {
        font-size: 18px;
    }
    .ImagesPrice
    {
        font-size: 18px;
    }
    a
    {
        font-size:18px;
    }
    #LastLink
    {
        font-size: 18px;
    }
  }
  @media screen and (max-width: 540px)
  {
    #TableContainer
    {
        height: 460px;
    }

    .BurguerImages
    {
        width: 130px;
        height: 130px;
    }

    p
    {
        font-size: 15px;
    }
    td
    {
        width: 130px;
        height: 430px;
    }  
    h2
    {
        font-size: 18px;
    }
    .ImagesPrice
    {
        font-size: 15px;
    }
    a
    {
        font-size:18px;
    }
    #LastLink
    {
        font-size: 18px;
    }
  }
  @media screen and (max-width: 414px)
  {
    #TableContainer
    {
       
        height: auto;
        margin:10px
    }
    .SocialMidias
    {
        font-size: 100%;
    }

    .BurguerImages
    {
        width: 100px;
        height: 100px;
        float: left;
    }
    p
    {
        position: relative;
        left: 5px;
        font-size: 100%;
    }
    td
    {
        position: static;
        float: none;
        width: auto;
        height: auto;
    }  
    #LeftBurger
    {
        transform: translate(0,0);
        position: static;
    }
    #CenterBurguer
    {
        transform: translate(0,0);
        position: static;
    }
    #RightBurguer
    {
        position: static;
        transform: translate(0,0);
    }
    .BurguerInformation
    {
        margin-left: 100px;
    }
    .BurguerData
    {
        clear: left;
        transform: translate(0,0);
        position: static;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .OrderLink
    {
        font-size: 100%;
        transform: translate(0,0);
        position: static;
        margin-bottom: 10px;
    }
    .LiMidias
    {
     margin-left: 0px;
    }
    h2
    {
        font-size: 100%;
    }
    .ImagesPrice
    {
        position: static;
        clear: left;
        text-align: center;
        font-size: 14px;
        margin-bottom: 15px;
    }
    table
    {
        border-collapse: separate;
        border-spacing: 10px;
    }
    .ImagesName
    {
        text-align: center;
        position: static;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a
    {
        font-size: 100%;
    }
    #LastLink
    {
        font-size: 100%;
    }
    #MenuLogo
    {
        width: 150px;
    }
    #WhatsImage
    {
        width: 60px;
    }
    #TopBurguers
    {
        font-size: 100%;
    }
  }
  @media screen and (max-width: 375px)
  {
    #TableContainer
    {
        height: auto;
        margin:10px
    }
    .SocialMidias
    {
        width: 30px;
    }

    .BurguerImages
    {
        width: 100px;
        height: 100px;
        float: left;
    }
    p
    {
        position: relative;
        left: 5px;
        font-size: 100%;
    }
    td
    {
        position: static;
        float: none;
        width: auto;
        height: auto;
    }  
    #LeftBurger
    {
        transform: translate(0,0);
        position: static;
    }
    #CenterBurguer
    {
        transform: translate(0,0);
        position: static;
    }
    #RightBurguer
    {
        position: static;
        transform: translate(0,0);
    }
    .BurguerInformation
    {
        margin-left: 100px;
    }
    .BurguerData
    {
        clear: left;
        transform: translate(0,0);
        position: static;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .OrderLink
    {
        font-size: 100%;
        transform: translate(0,0);
        position: static;
        margin-bottom: 10px;
    }
    .LiMidias
    {
     margin-left: 0px;
    }
    h2
    {
        font-size: 100%;
    }
    .ImagesPrice
    {
        position: static;
        clear: left;
        text-align: center;
        font-size: 100%;
        margin-bottom: 15px;
    }
    table
    {
        border-collapse: separate;
        border-spacing: 10px;
    }
    .ImagesName
    {
        text-align: center;
        position: static;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a
    {
        font-size: 100%;
    }
    #LastLink
    {
        font-size: 100%;
    }
    #MenuLogo
    {
        width: 110px;
    }
    #WhatsImage
    {
        width: 60px;
    }
    #TopBurguers
    {
        font-size: 100%;
    }
  }
  @media screen and (max-width: 320px)
  {
    #TableContainer
    {
        height: auto;
        margin:10px
    }
    .SocialMidias
    {
        width: 25px;
    }

    .BurguerImages
    {
        width: 100px;
        height: 100px;
        float: left;
    }
    p
    {
        position: relative;
        left: 5px;
        font-size: 13px;
    }
    td
    {
        position: static;
        float: none;
        width: auto;
        height: auto;
    }  
    #LeftBurger
    {
        transform: translate(0,0);
        position: static;
    }
    #CenterBurguer
    {
        transform: translate(0,0);
        position: static;
    }
    #RightBurguer
    {
        position: static;
        transform: translate(0,0);
    }
    .BurguerInformation
    {
        margin-left: 100px;
    }
    .BurguerData
    {
        clear: left;
        transform: translate(0,0);
        position: static;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .OrderLink
    {
        transform: translate(0,0);
        position: static;
        margin-bottom: 10px;
    }
    .LiMidias
    {
     margin-left: 0px;
    }
    h2
    {
        font-size: 13px;
    }
    .ImagesPrice
    {
        position: static;
        clear: left;
        text-align: center;
        font-size: 13px;
        margin-bottom: 15px;
    }
    table
    {
        border-collapse: separate;
        border-spacing: 10px;
    }
    .ImagesName
    {
        text-align: center;
        position: static;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a
    {
        font-size:13px;
    }
    #LastLink
    {
        font-size: 13px;
    }
    #MenuLogo
    {
        width: 110px;
    }
    #WhatsImage
    {
        width: 50px;
    }
    #TopBurguers
    {
        font-size: 100%;
    }
  }
  @media screen and (max-width: 280px)
  {

    #TableContainer
    {
        height: auto;
        margin:10px
    }
    .SocialMidias
    {
        width: 25px;
    }

    .BurguerImages
    {
        width: 100px;
        height: 100px;
        float: left;
    }
    p
    {
        position: relative;
        left: 5px;
        font-size: 13px;
    }
    td
    {
        position: static;
        float: none;
        width: auto;
        height: auto;
    }  
    #LeftBurger
    {
        transform: translate(0,0);
        position: static;
    }
    #CenterBurguer
    {
        transform: translate(0,0);
        position: static;
    }
    #RightBurguer
    {
        position: static;
        transform: translate(0,0);
    }
    .BurguerInformation
    {
        margin-left: 100px;
    }
    .BurguerData
    {
        transform: translate(0,0);
        position: static;
        text-align: left;
        margin-left: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .OrderLink
    {
        transform: translate(0,0);
        position: static;
        margin-bottom: 10px;
    }
    .LiMidias
    {
     margin-left: 0px;
    }
    h2
    {
        font-size: auto;
    }
    .ImagesPrice
    {
        position: static;
        clear: left;
        text-align: center;
        font-size: 13px;
        margin-bottom: 15px;
    }
    table
    {
        border-collapse: separate;
        border-spacing: 10px;
    }
    .ImagesName
    {
        text-align: center;
        position: static;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a
    {
        font-size:13px;
    }
    #LastLink
    {
        font-size: 13px;
    }
    #MenuLogo
    {
        width: 110px;
    }
    #WhatsImage
    {
        width: 50px;
    }
    #TopBurguers
    {
        font-size: 13px;
    }
  }



